* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff;
    font-family: 'Playfair Display', serif;
}

.header {
    background-color: #3196E2;
    padding: 10px 20px 0 20px;
    
}

.header-top {
    display: flex;
    border-bottom: 4px solid #53D2DC;
    justify-content: space-between;
    align-items: center;
}
.com-name {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
#comp-name {
    font-family: 'Croissant One', cursive;
    font-size: 30px;
    color: #fff;
    line-height: 30px;
}
#comp-desc {
    font-size: 20px;
    color: #ddd;
    margin-left: 10px;
}

.footer-container {
    display: flex;
    padding: 20px 0 20px 5%;
    background-color: #101010;
    justify-content: space-evenly;
}
.footer-card {
    border: 3px solid #FF826C;
    margin-right: 5px;
    background-color: #FFC05F;
    border-radius: 5px;
    padding: 0 0 5px 2px;
    width: 100%;
}
.footer-card span {
    font-style: italic;
    display: block;
}
.footer-card .footer-com-name {
    word-wrap: break-word;
    font-family: 'Croissant One', cursive;
    font-size: 30px;
    color: #fff;
    line-height: 30px;
}
.get-app {
    font-weight: bold;
    color: #eee;
    width: 100%;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
    vertical-align: center;
}
.footer-container > div{
    width: 18%;
}
.footer-container div a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px 0;
}
.footer-container div a:hover {
    color: #FFC05F;
}
.header-bottom {
    position: -webkit-sticky;
    background-color: #3196E2;
    margin: 0;
    position: sticky;
    top: 0px;
    padding: 10px 10px 0 10px;
}

.social-links-container ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-links-container > ul > li{
    display: inline;
    list-style-type: none;
    margin: 0 1vw;
    transition: 2s;
}

.navbar a {
    text-decoration: none;
    color: white; 
}

.navbar ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
    margin: 0px;
}
.navbar li {
    display: inline;
    padding: 0px 10px 10px 10px;
    list-style-type: none;
    height: 30px;
    transition: 0.5s;
}

.navbar li:hover {
    border-bottom: 3px solid #FFC05F;
}
.navbar li:hover a {
    color: #FFC05F;
}
.search1 {
    display: flex;
    width: 48%;
    height: 40px;
    border: 3px solid #FF826C;
    border-radius: 20px;
    padding: 5px 10px;
    align-items: center;
    justify-content: space-between;
}

.search2 {
    width: 48%;
    border: 3px solid #FF826C;
    border-radius: 20px;
    background-color: #FF826C;
    height: 40px;
}

.social-icons {
    width: 30px;
    height: 30px;
}

.social-icons:hover {
    opacity: 0.8;
}
.temp {
    margin-top: 300%;
}
.stick {
    position: sticky;
    top: 0;
}

.search-container {
    display: flex;
    margin: 20px;
    justify-content: space-between;
}

.search1 input {
    width: calc(100% - 25px);
    border: none;
    height: 100%;
    font-size: 20px;
}

.search2 button {
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin: 0px;
    background-color: transparent;

}

.search1 input:focus {
    outline: none;
}

.search1 img {
    width: 25px;
}

#infographics1 {
    width: 800px;
    height: 400px;
    overflow: hidden;
    margin: 30px auto;
}

.radio-sliders{
    display: none;
}
.info1-sliders {
    display: flex;
    width: 500%;
    height: 400px;
}

.info1-manual label {
    border: 3px solid #3196E2;
    border-radius: 10px;
    padding: 5px;
    margin: 0px 10px;
}
.info1-manual label:hover {
    background-color: #3196E2;
}
.info1-manual {
    display: flex;
    width: 800px;
    justify-content: center;
    position: absolute;
    margin-top: -20px;
}
.info1-img {
    width: 800px;
    height: 400px;
    transition: 2s;
}
.info1-auto-sliders {
    width: 800px;
}
#radio1:checked ~ .info1-img1 {
    margin-left: 0;
}

#radio2:checked ~ .info1-img1 {
    margin-left: -20%;
}

#radio3:checked ~ .info1-img1 {
    margin-left: -40%;
}

#radio4:checked ~ .info1-img1 {
    margin-left: -60%;
}

.info1-auto-sliders {
    position: absolute;
    display: flex;
    width: 800px;
    margin-top: 380px;
    justify-content: center;
}

.info1-auto-sliders div {
    border: 3px solid #3196E2;
    padding: 5px;
    border-radius: 10px;
    margin: 0 10px;
}

#radio1:checked ~ .info1-auto-sliders .info1-auto-div1 {
    background-color: #3196E2;
}
#radio2:checked ~ .info1-auto-sliders .info1-auto-div2 {
    background-color: #3196E2;
}
#radio3:checked ~ .info1-auto-sliders .info1-auto-div3 {
    background-color: #3196E2;
}
#radio4:checked ~ .info1-auto-sliders .info1-auto-div4 {
    background-color: #3196E2;
}

.query-end {
    width: 70%;
    margin: 30px auto;

}
.question-query {
    font-weight: bold;
}
.query-end a{
    color: #FF826C;
    padding: 2px;
}

#infographics2-container {
    margin: 20px 0;
    background-color: #FFC05F;
}
.why-us {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0 0 0;
}
#infographics2 {
    display: flex;
    overflow-x: scroll;
    margin: 40px 0;

}


.info2-entry {
    margin: 20px 50px;
}
.info2-entry img {
    width: 300px;
    height: 100px;
}
.info2-entry p {
    text-align: center;
    font-weight: bold;
}
#user-panel {
    display: flex;
    margin: 20px;
    justify-content: space-evenly;
}

.us-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid blue;
    border-radius: 12px;
    max-width: 300px;
}
.us-panel img{
   height: 280px;
   width: 250px; 
   margin: 12px;
}
.us-panel span{
    background-color: blue;
    width: 100%;
    line-height: 50px;
    vertical-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.us-panel:hover {
    transform: translate(0, -5px);
    transition: 0.5s;
    box-shadow: 6px 6px 4px grey;
}
.us-panel:hover span{
    color: grey;
}
#notification-panel {
    border: 3px solid #53D2DC;
    border-radius: 15px;
    margin: 40px 80px;
}
.noti-heading {
    width: 20%;
    margin: auto;
    background-color: #53D2DC;
    border-radius: 0 0 15px 15px;
    text-align: center;
    padding: 2px;
    font-weight: bold;
}
.noti-body span {
    display: block;
    margin:70px auto;
    text-align: center;
}

@media (max-width: 500px) {
    .navbar ul {
        flex-direction: column;
        align-items: center;
    }
    .header-bottom {
        position: static;
    }
    .search-container {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .search1, .search2 {
        width: 90%;
        margin-top: 4px;
    }
} 
.about-us {
    margin: 20px 0;
    padding: 10px 40px;
    background-image: url("images/wallpaper1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.about-head {
    font-weight: bolder;
    text-align: center;
    width: 100%;
    font-size: 40px;
    border-bottom: 4px solid #6f8c9a;
}
.about-body {
    font-size: 20px;
    padding: 10px 50px;
    line-height: 40px;
    text-align: center;
    background-color: rgba(240,248,255,0.7);
    margin-bottom: 30px;
}
@media (max-width: 900px) {
    #comp-desc {
        margin: 0;
    }
}
@media (max-width: 660px) {
    .social-links-container {
        visibility: hidden;
        width: 10%;
    }
}